<!-- <ion-header [translucent]="true">
  <ion-toolbar >
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <ion-grid>
    <div class="form">
    <!-- <ion-card class="ion-cards"> -->
      <ion-row color="primary" justify-content-center>
        <ion-col align-self-center size-md="12" size-lg="12" size-xs="12">
          <div class="text-center d-flex align-items-center justify-content-center">
              <img src="../../assets/logo.png" alt="" class="img-fluid custom-img-size">
          </div>
        </ion-col>
          <ion-col class="botones" color="primary" align-self-center size-md="12" size-lg="12" size-xs="12"> 
              <ion-input shape="round"  color="primary"aria-label="Primary input" color="secondary" label="Correo" labelPlacement="floating" fill="outline"  name="email" type="email" placeholder="your@email.com" [(ngModel)]="usuario" name="usuario"></ion-input>
              <ion-input shape="round" color="primary" aria-label="Primary input" color="primary" label="Contraseña" labelPlacement="floating" fill="outline" name="password" type="password" placeholder="Password" [(ngModel)]="pass" name="pass"></ion-input>
              <div class="botones">
                <ion-button shape="round"  type="submit" (click)="login()" expand="block">Ingresar</ion-button>
                <ion-button shape="round" type="submit" (click)="salir()" expand="block">Salir</ion-button>            
              </div>
          </ion-col>
      </ion-row>
        <ion-fab slot="fixed" horizontal="end" vertical="bottom">
          <ion-fab-button class="color">
            <ion-icon name="person-outline"></ion-icon>
                    </ion-fab-button>
          <ion-fab-list side="start">
            <ion-fab-button (click)="Autocompletar('admin@admin.com','111111')">
              <p>A</p>
            </ion-fab-button>
            <ion-fab-button (click)="Autocompletar('usuario@usuario.com','333333')">
              <p>U</p>
            </ion-fab-button>
            <ion-fab-button (click)="Autocompletar('invitado@invitado.com','222222')">
              <p>I</p>
            </ion-fab-button>
            <ion-fab-button (click)="Autocompletar('tester@tester.com','555555')">
              <p>T</p>
            </ion-fab-button>
            <ion-fab-button (click)="Autocompletar('anonimo@anonimo.com','444444')">
             <p>AN</p>
            </ion-fab-button>
          </ion-fab-list>
        </ion-fab>
    </div>
  </ion-grid>
</ion-content>

