
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
    <ion-button (click)="logout()">
      <ion-icon name="arrow-back-outline"></ion-icon>    </ion-button>
  </ion-buttons>
  <ion-buttons slot="end">
    <ion-button routerLink="estadisticas">
      <ion-icon name="stats-chart-outline"></ion-icon>
        </ion-button>
  </ion-buttons>
    <ion-title>Bienvenido {{usuario}}</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="ion-padding"> 
    <ion-button class="facil" shape="round" routerLink="juegoFacil">
      Fácil
    </ion-button>
    <ion-button class="normal"  shape="round" routerLink="juegoNormal">
      Normal
    </ion-button>
    <ion-button class="dificil" shape="round"(click)="activar(16)">
      Difícil
    </ion-button>
  </div>

  
</ion-content>


